*.iml
.gradle/
/local.properties
local.properties

# IDE
/.idea/
.DS_Store

# Build outputs
/build/
/app/build/
/captures/

# Native
.externalNativeBuild/
.cxx/

# APK & Bundles (kept out of repo, attached to GitHub Releases)
*.apk
*.aab
